<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>hhttp://testjenkins.51talk.com/view/app_iphone/job/51talk_iOS_4.7.5_release/lastSuccessfulBuild/artifact/myapp/51talk/51talk.ipa</string>
                </dict>
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>url</key>  
                    <string>http://testjenkins.51talk.com/job/51talk_master/1/artifact/51talkClass_trunk/build/outputs/apk/qrcode_1.png</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>url</key>  
                    <string>http://testjenkins.51talk.com/job/51talk_master/1/artifact/51talkClass_trunk/build/outputs/apk/qrcode_1.png</string>  
                </dict>  
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.51talk.app</string>
                <key>bundle-version</key>
                <string>4.7.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>51talk</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
